.science-app-pending {
  background-color: #fafafa;
  color: inherit;
  padding: 30px;
  margin: 15px 0;
}

.science-app-pending h1 {
  font-size: 48px;
}

.science-app-pending p {
  font-size: 18px;
  font-weight: 200;
}
